* {
    font-weight: lighter;
    font-size: 14px;
}

table {
    margin: auto;
    font-family: sans-serif;
    box-shadow: 3px 5px 5px rgba(160, 158, 158, 0.438);
    margin-top: 40px;
}

table, tr, td, th, thead {
    padding: 10px;
    font-weight: lighter;
}

.sem-nada {
    border-left: none;
}


td, th {
    text-align: center;
    border-right: 1px solid rgba(170, 166, 166, 0.205);
    border-left: 1px solid rgba(170, 166, 166, 0.205);
    color: rgb(107, 107, 107);
    width: 200px;
    
}

/* desfaz a duplicação de borda */
table {
    border-collapse: collapse;
}

.linha-primary {
    padding: 0 20px;
    background-color: rgb(9, 89, 194);
    color: white;
    
}

.linha-second {
    padding: 0 50px;
    background-color: rgb(7, 160, 45);
    color: white;
    
}

.botao {
    background-color: red;
    padding: 10px 30px;
    display: inline-block;
    border: 2px solid red;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;

}

.botao:hover {
    box-shadow: 3px 5px 5px rgba(160, 158, 158, 0.678);
    transform: translate()
}

 /* intercala o background das linhas, odd pega a partir 
 da primeira - odd=impar e even=par */
tbody tr:nth-child(odd) {
    background-color: rgba(219, 217, 217, 0.473);
}

.tbody-linha-1 {
    border-top: 1px solid rgba(170, 166, 166, 0.205);

}

h5 {
    font-weight: bold;
}

.check-azul {
    color: rgb(9, 89, 194);
    font-weight: bold;
}

.check-verde {
    color: rgb(7, 160, 45);
    font-weight: bold;
}

